body {
  background: #141335;
  color: #ebf7ff;
  margin: 0 0;
  font-family: "Montserrat", sans-serif;
}
body .wiki-bg {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
  mix-blend-mode: luminosity;
}
body .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
  padding: 30px 50px 10px 50px;
  overflow: hidden;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .container .containers-page {
  padding-top: 50px;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  opacity: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(205, 205, 205, 0.1647058824);
  border-radius: 100px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(205, 205, 205, 0.3529411765);
}