@media (min-width: 2000px) {
  body .choice .blocks-modal {
    justify-content: space-around; } }

@media (max-width: 1400px) {
  body .choice {
    display: flex;
    flex-direction: column-reverse;
    height: 75rem; }
  body .choice .blocks-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translate(-50%, 0);
    gap: 6rem; }
  body .choice .persons {
    display: none; } }

@media (max-width: 1100px) {
  body .choice .elipse-img {
    display: none; }
  body .choice .center-content .big-text {
    width: 41rem; } }

@media (max-width: 665px) {
  body .choice {
    display: flex;
    align-items: center;
    margin-bottom: 9rem; }
  body .choice .center-content {
    margin-bottom: 20rem; }
  body .choice .center-content .img-section .img-container {
    height: 21rem;
    width: 21rem !important;
    margin-top: 2rem; }
  body .choice .center-content .big-text {
    width: 28rem; } }

@media (max-width: 500px) {
  body .choice {
    display: flex;
    align-items: center;
    margin-bottom: 9rem; }
  body .choice .center-content {
    margin-bottom: 20rem; }
  body .choice .center-content .img-section .img-container {
    height: 21rem; }
  body .choice .center-content .img-section .img-container .img-choice {
    width: 18rem !important;
    margin-top: 4rem; }
  body .choice .center-content .big-text {
    width: 28rem; } }

@media (max-width: 432px) {
  body .choice {
    display: flex;
    align-items: center;
    margin-bottom: 9rem; }
  body .choice .center-content {
    margin-bottom: 20rem; }
  body .choice .center-content .img-section .switch {
    width: 2rem !important;
    height: 2rem !important; }
  body .choice .center-content .img-section .img-container {
    height: 21rem; }
  body .choice .center-content .img-section .img-container .img-choice {
    width: 18rem !important;
    margin-top: 4rem; }
  body .choice .center-content .big-text {
    width: 20rem; } }

@media (max-width: 400px) {
  body .choice {
    display: flex;
    align-items: center;
    margin-bottom: 9rem; }
  body .choice .center-content {
    margin-bottom: 20rem; }
  body .choice .center-content .img-section .switch {
    width: 1.9rem !important;
    height: 1.9rem !important; }
  body .choice .center-content .img-section .img-container {
    height: 21rem; }
  body .choice .center-content .img-section .img-container .img-choice {
    width: 18rem !important;
    margin-top: 4rem; }
  body .choice .center-content .big-text {
    width: 20rem; } }

@media (max-width: 335px) {
  body .choice {
    display: flex;
    align-items: center;
    margin-bottom: 9rem; }
  body .choice .center-content {
    margin-bottom: 20rem; }
  body .choice .center-content .img-section .switch {
    width: 1.8rem !important;
    height: 1.8rem !important; }
  body .choice .center-content .img-section .img-container {
    height: 21rem; }
  body .choice .center-content .img-section .img-container .img-choice {
    width: 14rem !important;
    margin-top: 6rem; }
  body .choice .center-content .big-text {
    width: 16rem; } }

@media (max-width: 280px) {
  body .choice {
    display: flex;
    align-items: center;
    margin-bottom: 9rem; }
  body .choice .center-content {
    margin-bottom: 20rem; }
  body .choice .center-content .img-section .switch {
    width: 1.5rem !important;
    height: 1.5rem !important; }
  body .choice .center-content .img-section .img-container {
    height: 21rem; }
  body .choice .center-content .img-section .img-container .img-choice {
    width: 10rem !important;
    margin-top: 7rem; } }

.choice {
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 6rem;
  justify-content: space-between; }
.choice .elipse-img {
  position: absolute;
  margin-top: 5rem;
  right: 12rem;
  z-index: -1;
  width: 8rem; }
.choice .bg-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 14%;
  margin-top: 20rem; }
.choice .bg-elements .smoke-bg {
  position: relative;
  pointer-events: none;
  margin-top: 5rem;
  width: 100vw;
  z-index: -2;
  mix-blend-mode: luminosity;
  transition: all 0.3s; }
.choice .bg-elements .smoke-bg.active {
  mix-blend-mode: normal;
  transition: all 0.3s; }
.choice .blocks-modal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem; }
.choice .persons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  pointer-events: none; }
.choice .persons .criminal {
  transition: all 0.3s;
  position: relative;
  left: -5rem;
  opacity: 0.5;
  z-index: 2;
  mix-blend-mode: luminosity; }
.choice .persons .gos {
  transition: all 0.3s;
  position: relative;
  right: -5rem;
  opacity: 0.5;
  z-index: 2;
  mix-blend-mode: luminosity; }
.choice .persons #act-person-c {
  transition: all 0.3s;
  mix-blend-mode: normal; }
.choice .persons #act-person-g {
  transition: all 0.3s;
  mix-blend-mode: normal; }
.choice .center-content {
  display: flex;
  flex-direction: column;
  align-items: center; }
.choice .center-content .big-text {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 170%;
  text-align: center;
  color: #ffff;
  gap: 0.3rem; }
.choice .center-content .big-text span {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: #266ffc;
  font-weight: 700; }
.choice .center-content .question {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase; }
.choice .center-content .img-block-choice {
  position: relative;
  z-index: 3; }
.choice .center-content .img-block-choice div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; }
.choice .center-content .img-block-choice div .img-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
.choice .center-content .img-block-choice div .img-section .switch {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  background: #212151;
  border: 0.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 0.3vw;
  width: 3.5rem;
  height: 3.5rem;
  transition: all 0.3s; }
.choice .center-content .img-block-choice div .img-section .switch:hover {
  transition: all 0.3s;
  background: #FF4034; }
.choice .center-content .img-block-choice div .img-section .img-container .img-choice {
  width: 38rem;
  animation: fadeInImgChoice 2s ease; }
.choice .center-content .img-block-choice div .text-block .title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: uppercase; }
.choice .center-content .img-block-choice div .text-block .description {
  text-align: center;
  width: 50rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 160%; }
.choice .center-content .btns-choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  height: 2.7rem;
  margin-top: 2rem; }
.choice .center-content .btns-choice a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  padding: 1rem 5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  color: #fff;
  text-transform: uppercase; }
.choice .center-content .btns-choice .criminal {
  background: #fc4526;
  transition: all 0.3s; }
.choice .center-content .btns-choice .criminal:hover {
  transition: all 0.3s;
  box-shadow: 0 0 0 0.375rem rgba(252, 69, 38, 0.25); }
.choice .center-content .btns-choice .gos {
  background: #266ffc;
  transition: all 0.3s; }
.choice .center-content .btns-choice .gos:hover {
  transition: all 0.3s;
  box-shadow: 0 0 0 6px rgba(38, 111, 252, 0.25); }

@keyframes fadeInImgChoice {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }