@media (min-width: 1721px) {
  body .welcome .main-content .main-img {
    margin-left: 3rem;
    width: 45rem; }
  body .welcome .main-content .right-content {
    margin-right: 6rem; } }

@media (min-width: 2000px) {
  body .welcome .main-content .main-img {
    margin-left: 4rem;
    width: 48rem; }
  body .welcome .main-content .right-content {
    margin-right: 7rem; } }

@media (min-width: 2250px) {
  body .welcome .main-content .main-img {
    margin-left: 3rem;
    width: 50rem; }
  body .welcome .main-content .right-content {
    margin-right: 3rem; } }

@media (min-width: 2500px) {
  body .welcome .main-content .main-img {
    margin-left: 4rem;
    width: 53rem; } }

@media (min-width: 2700px) {
  body .welcome .main-content .main-img {
    margin-left: 5rem;
    width: 56rem; } }

@media (min-width: 2900px) {
  body .welcome .main-content .main-img {
    margin-left: 5rem;
    width: 56rem; } }

@media (min-width: 3100px) {
  body .welcome .main-content .main-img {
    margin-left: 5rem;
    width: 56rem; } }

@media (min-width: 3300px) {
  body .welcome .main-content .main-img {
    margin-left: 5rem;
    width: 56rem; } }

@media (min-width: 3500px) {
  body .welcome .main-content .main-img {
    margin-left: 5rem;
    width: 56rem; } }

@media (min-width: 3700px) {
  body .welcome .main-content .main-img {
    margin-left: 5rem;
    width: 56rem; } }

@media (min-width: 3900px) {
  body .welcome .main-content .main-img {
    margin-left: 5rem;
    width: 56rem; } }

@media (min-width: 4100px) {
  body .welcome .main-content .main-img {
    margin-left: 5rem;
    width: 56rem; } }

@media (max-width: 1370px) {
  body .welcome .main-content {
    justify-content: center; }
  body .welcome .main-content .main-img {
    display: none; } }

@media (max-width: 1147px) {
  body .welcome .main-content .main-img {
    margin-top: 4rem;
    width: 45rem; } }

@media (max-width: 1100px) {
  body .welcome .main-content {
    justify-content: center; }
  body .welcome .main-content .main-img {
    display: none; } }

@media (max-width: 594px) {
  body .welcome .points-img {
    display: none; }
  body .welcome .main-content .right-content .texts .description {
    width: 26rem; } }

@media (max-width: 430px) {
  body .welcome .main-content .right-content .texts .main-title {
    font-size: 1rem !important; }
  body .welcome .main-content .right-content .texts .description {
    width: 22rem; } }

@media (max-width: 400px) {
  body .welcome .main-content .right-content .texts .main-title {
    font-size: 1.4rem; }
  body .welcome .main-content .right-content .texts .description {
    width: 22rem; } }

@media (max-width: 360px) {
  body .welcome .main-content .right-content .texts .apex-logo {
    width: 20rem; }
  body .welcome .main-content .right-content .texts .main-title {
    font-size: 1.4rem; }
  body .welcome .main-content .right-content .texts .description {
    width: 16rem; } }

@media (max-width: 300px) {
  body .welcome .main-content .right-content .texts .apex-logo {
    width: 14rem; }
  body .welcome .main-content .right-content .texts .main-title {
    font-size: 1rem; }
  body .welcome .main-content .right-content .texts .description {
    width: 14rem; } }

@media (max-width: 280px) {
  body .welcome .main-content .right-content .texts .description {
    width: 14rem; } }

@media (max-width: 260px) {
  body .welcome .main-content .right-content .texts .main-title {
    width: 12rem !important; }
  body .welcome .main-content .right-content .texts .description {
    width: 15rem; } }

.welcome {
  height: 37rem; }
.welcome .elipse-bg {
  position: absolute;
  right: -3rem;
  width: 8rem;
  z-index: -1; }
.welcome .points-img {
  position: absolute;
  margin-top: 12rem;
  left: -9rem;
  z-index: -1;
  width: 19rem; }
.welcome .background-one {
  user-select: none;
  pointer-events: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  mix-blend-mode: luminosity; }
.welcome .main-content {
  display: flex;
  justify-content: space-between; }
.welcome .main-content .main-img {
  pointer-events: none;
  left: 1rem;
  width: 40rem;
  margin-top: -2rem;
  z-index: 0; }
.welcome .main-content .right-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 4rem;
  z-index: 1; }
.welcome .main-content .right-content .texts {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 34rem; }
.welcome .main-content .right-content .texts .apex-logo {
  width: 25rem; }
.welcome .main-content .right-content .texts .texts-b {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw; }
.welcome .main-content .right-content .texts .texts-b .main-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase; }
.welcome .main-content .right-content .texts .texts-b .main-title span {
  color: #0fa851; }
.welcome .main-content .right-content .texts .texts-b .description {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 176%;
  color: rgba(255, 255, 255, 0.8); }
.welcome .main-content .right-content .texts .texts-b .description span {
  text-transform: uppercase;
  color: #2B80FF;
  font-weight: 600; }
.welcome .main-content .right-content .texts .texts-b #gta5 {
  color: #0fa851;
  font-weight: 600; }
.welcome .main-content .right-content .start-game {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  outline: none;
  border: none;
  background: linear-gradient(45deg, #db06bd 0.07%, #dd4426 100%);
  border-radius: 0.3rem;
  padding: 1rem 1.9rem;
  box-sizing: border-box;
  width: 15rem;
  transition: all 0.3s; }
.welcome .main-content .right-content .start-game:hover {
  transition: all 0.3s;
  box-shadow: 0 0 0 6px #dd452642; }
.welcome .main-content .right-content .start-game:hover .next-svg {
  transition: all 0.3s;
  background: #ff4261; }
.welcome .main-content .right-content .start-game span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #fff; }
.welcome .main-content .right-content .start-game .next-svg {
  transition: all 0.3s;
  background: #ff2b50;
  border-radius: 0.3rem;
  width: 0.9rem;
  padding: 0.7rem 0.7rem; }